<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE gui SYSTEM 'kpartgui.dtd'>
<gui name="externaltools" translationDomain="kateexternaltoolsplugin" version="6">
 <MenuBar>
  <Menu name="tools">
   <text>&amp;Tools</text>
   <Action group="tools_operations3" name="tools_external"/>
  </Menu>
 </MenuBar>
 <ToolBar name="mainToolBar" noMerge="1">
  <text>Main Toolbar</text>
 </ToolBar>
 <ActionProperties>
  <Action name="externaltool_JSONFormatFullFile" shortcut="Ctrl+Shift+J"/>
 </ActionProperties>
</gui>
